################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation
/.vs/git
/.vs
/spaceWeatherApi/bin/Debug/net8.0
